@import "tailwindcss";

:root {
  --background: #23263a;
  --primary-color: #00a5f4;
}

@theme inline {
  --color-background: var(--background);
  --color-primary-color: var(--primary-color);
  --font-cairo: var(--font-cairo);
  --font-inter: var(--font-inter);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #3498db;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

body {
  background-color: var(--background);
  color: white;
}

@layer components {
  .c-container {
    @apply xl:w-[80%] lg:w-[90%] w-full mx-auto px-5;
  }
}

button,
a {
  cursor: pointer;
}
